@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
     font-family: "Open Sans", sans-serif;
}

.nav-bar {
    background-color: #FFFFFF;
    width: 100%;
    height: 120px;
    padding: 50px 300px;
    display: flex;
    gap: 50px;
}

.nav-bar a {
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: #707070;
    /* border: 2px solid red; */
}

.nav-bar :nth-child(9) {
    background-color: #0087DB;
    border-radius: 50px;
    padding: 20px  20px 40px 20px;
    font-size: 20px;
    font-weight: 400;
    color: #FFF7F6;
    margin-top: -20px;
    /* margin-left: 100px; */
}

.nav-bar :nth-child(1) {
    padding-bottom: 100px;
}

.flex-container {
    background-image: url(images/image1.jpg);
    width: 100%;
    height: 800px;
    background-size: contain;
}

.flex-container h2 {
    font-size: 42px;
    font-weight: 600;
    color: #FFFFFF;
    top: 500px;
    position: absolute;
    left: 300px;
    right: 600px;
}

.flex-container p {
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    top: 620px;
    position: absolute;
    left: 300px;
    right: 600px;
}

.flex-container :last-child {
    background-color: #0087DB;
    padding: 20px  20px 20px 20px;
    position: absolute;
    font-size: 20px;
    left: 300px;
    top: 700px;
    right: 600px;
    color: #FFFFFF;
    border-radius: 50px;
    width: 170px;
}

.flex-container2 {
    background-image: url(images/imag2.jpg);
    width: 100%;
    height: 570px;
    background-size: contain;
    padding: 50px 270px;
    display: flex;
    margin-top: 30px
}

.flex-child {
    position: absolute;

}

.flex-container2 :nth-child(1) {
    width: 350px;
}

.flex-child p {
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 400;
    
}

.flex-container-child {
    background-color: #EEEEEE;
    padding: 10px 20px;
    margin: 30px 0;
    border-radius: 50px;
    width: fit-content;
}

.flex-container-child a {
    text-decoration: none;
    font-size: 20px;
    color: #409DDC;
}

.flex-sub-child {
    width: 23%;
   

}

.flex-sub-child span {
    font-size: 70px;
    font-weight: 700;
    
}

.flex-child2 {
    position: absolute;
    left: 690px;
    /* border: 2px solid red; */
    color: #EEEEEE;
     display:flex;
    gap: 50px;
    flex-wrap: wrap;
}

.flex-sub-child p {
    font-size: 20px;
    font-weight: 400;
    padding: 30px 0 0 0; 
}

.flex-child2 :nth-child(1) {
    padding-right: 80px;
}

.flex-container3 {
    padding: 30px 300px;
    background-color: #FFFFFF;
    display: flex;
    gap: 50px;
}


.flex-contain span {
   align-items: justify;
   color: #409DDC;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}

.flex-contain {
     background-color: #177FCD;
    width: fit-content;
    height: fit-content;
    padding: 10px 20px;
}

.flex-contain a:hover {
    color: #EEEEEE;

}

.flex-contain a {
    text-decoration: none;
    text-align: center;
   color: #409DDC;
    font-size: 20px;
    font-weight: 400;
}

.flex-contain p {
    text-align: center;
}

.flex-contain-child1 {
    font-size: 20px;
    font-weight: 500;
    background-color: #C0E7FF;
    border-radius: 30px;
    padding: 5px 20px;
    width: fit-content;
    color: #1FAEF2;
}

.flex-contain3 {
padding: 30px 300px;
    background-color: #FFFFFF;
}

.flex-contain3 h2 {
    font-size: 54px;
    font-weight: 700;
    display: inline;
}

.flex-contain-child2 a {
    font-size: 23px;
    font-weight: 400;
    color: #EEEEEE;
    text-decoration: none;
    
}

.flex-contain-child2 span {
    background-color: #0087DB;
    border-radius: 50px;
    padding: 10px 20px;
    width: fit-content;
    
}

.flex-contain-child2 {
    display: flex;
    gap: 410px;
    align-items: center;
}

.flex-contain-child2 span:hover {
    background-color: #FFFFFF;
    border: 3px solid #0087DB;
    border-radius: 50px;
    color: #0087DB;
}

.flex-contain4 {
    display: flex;
    color: #EEEEEE;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 100px;
}

.rectangle1 {
    background-color: #0087DB;
    border-radius: 20px;
    
}

.rectangle {
    display: flex;
    padding: 30px 60px 50px 20px;
    gap: 30px;
    width: 33%;
    color: black;
    background-color: #EEEEEE;
    border-radius: 20px;

}

.rectangle h2 {
    font-size: 23px;
    font-weight: 500;
}

.rectangle div {
    font-size: 20px;
    font-weight: 400;
}

.rectangle1 h2 {
     font-size: 23px;
    font-weight: 500;
}

.rectangle1 {
    display: flex;
    padding: 30px 60px 50px 20px;
    gap: 30px;
    width: 33%;
    border-radius: 20px;
    background-color: #0087DB;
    
}

.rectangle1 div {
      font-size: 20px;
    font-weight: 400;
}

.flex-contain5 {
margin: 0 300px;
padding-top: 20px;
    background-color: #EEEEEE;
}

.flex-contain5 h3 {
    font-size: 23px;
    font-weight: 500;
    color: #0087DB;
    text-align: center;
}

.flex-contain6 {
    display: flex;
    gap: 30px;
    padding: 30px 40px;
    opacity: 0.2;
    align-items: center;
    margin-bottom: 100px;
}

.flex-contain7 {
    
    padding: 0 400px;
}

.newspaper {
    display: flex;
    gap: 80px;
}

.sub-newspaper {
    padding-top: 70px;
}

.sub-newspaper h2 {
    font-size: 60px;
    font-weight: 700;
}

.sub-newspaper div {
    font-size: 20px;
    font-weight: 400;
    padding-top: 10px;
}

.sub-newspaper :last-child {
    background-color: black;
    border-radius: 50px;
    color: #FFF7F6;
    padding: 5px 10px;
 font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    display: block;
    width: fit-content;
}

.sub-newspaper a {
    margin: 50px 0;
}

.flex-contain8 {
    padding: 50px 300px;
}

.boosther {
    display: flex;
    gap: 300px;
}

.boosther h2 {
     font-size: 50px;
    font-weight: 700;
}

.boosther div {
     font-size: 20px;
    font-weight: 400;
    padding-top: 10px;
}

.sub-boosther :last-child {
     background-color: black;
    border-radius: 50px;
    color: #0087DB;
    padding: 5px 10px;
 font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    display: block;
    width: fit-content;
}

.sub-boosther :last-child:hover {
    color: #FFF7F6;
}

.sub-boosther a {
    margin: 50px 0;
}

.slayfestival {
     display: flex;
    gap: 80px;

}

.slayfestival h2 {
     font-size: 50px;
    font-weight: 700;
}

.slayfestival div {
     font-size: 20px;
    font-weight: 400;
    padding-top: 10px;
}

.sub-slayfestival :last-child {
     background-color: black;
    border-radius: 50px;
    color: #0087DB;
    padding: 5px 10px;
 font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    display: block;
    width: fit-content;
}

.sub-slayfestival :last-child:hover {
    color: #FFF7F6;
}

.sub-slayfestival a {
    margin: 50px 0;
}

.sub-slayfestival {
    padding-top: 100px;
}

.flex-contain8 {
    padding: 100px 290px;
    font-size: 19px;
    font-weight: 400;
    color: #403933;
}

.flex-contain9 {
    padding: 0 300px;
}

.upcoming {
    font-size: 20px;
    font-weight: 500;
    background-color: #C0E7FF;
    border-radius: 30px;
    padding: 0px 30px;
    width: fit-content;
    color: #1FAEF2;
}

.flex-contain9 h2 {
    font-size: 50px;
    font-weight: 700;
}

.flex-contain-child9 a {
    font-size: 23px;
    font-weight: 400;
    color: #EEEEEE;
    text-decoration: none;
    
}

.flex-contain-child9 span {
    background-color: #0087DB;
    border-radius: 50px;
    padding: 15px 30px;
    width: fit-content;
    
}

.flex-contain-child9 {
    display: flex;
    gap: 600px;
    align-items: center;
    padding-bottom: 100px;
}

.flex-contain-child9 span:hover {
    background-color: #FFFFFF;
    border: 3px solid #0087DB;
    border-radius: 50px;
    color: #0087DB;
}

.image {
    display: flex;
    gap: 80px;
    padding-bottom: 100px;
}

.image a {
    width: 50%;
}

a h3 {
    text-decoration: underline;
    font-size: 22px;
    color: #0087DB;
    font-weight: 700;
    padding-top: 10px;
}

.flex-contain10 {
    background-image: url(images/patern.png);
    background-size: contain;
    width: 100%;
    height: 500px;
    background-color: #0D8DDD;
    padding: 100px 500px;
}

.subscribe {
     font-size: 20px;
    font-weight: 500;
    background-color: #C0E7FF;
    border-radius: 30px;
    padding: 0px 30px;
    width: fit-content;
    color: #1FAEF2;
    position: absolute;
    align-items: center;
    margin-left: 320px;
}

.flex-contain10 h2 {
    font-size: 42px;
    font-weight: 700;
    color: #EEEEEE;
    position: relative;
    top: 70px;
    padding: 0 100px;
    text-align: center;
}

input  {
    outline: none;
    width: 700px;
    background: transparent;
    height: 70px;
    margin-top: 100px;
    color: #EEEEEE;
   padding:0;
   text-align: left;
    margin-left: 90px;
    border: 2px solid #FFFFFF;
    border-radius: 50px;
}

.flex-contain10 input::placeholder {
     font-size: 18px; 
    font-weight: 400;
    color: #EEEEEE;
   padding-left: 20px;
}

.flex-contain10 span {
    font-size: 18px; 
    font-weight: 400;
    color: #EEEEEE;
    background-color: #78ACF4;
    padding: 20px 30px;
    border-radius: 50px;
    margin-left: -123px;
}

.flex-contain10 span:hover {
    background-color: #FFFFFF;
    color: #403933;
}

.flex-contain11 {
    background-color: #000000;
    padding: 0px 200px;
display: flex;
gap: 120px;
justify-content: center;

}

.flex-contain11 div {
    font-size: 22px;
    font-weight: 700;
    color: #FFFFFF;
    padding-top: 60px;
}

.flex-contain11 img {
    padding-top: 80px;
}

.sub-flex-contain11 {
    display: flex;
    gap: 100px;
   
}

.child h3 {
    text-decoration: none;
    font-size: 25px;
    padding-bottom: 10px;
    font-weight: 700;
}

.child a {
     font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    padding-bottom: 10px;
}

.child span {
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    padding-bottom: 10px;
}

.child-span{
    font-weight: 100;
}

.last {
    background-color: #000000;
    font-weight: 300;
    font-size: 20px;
    color: #FFFFFF;
    padding-left: 700px;
    padding-bottom: 100px;
}